

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #c71e00 0%, #420400 70%, black 100%);
  color: black;
  overflow: hidden;
}



body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/grain.png");
  opacity: 0.15;              /* adjust strength here */
  pointer-events: none;
}


@keyframes grainMove {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-10px, 10px); }
  100% { transform: translate(0, 0); }
}


body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
}



section {
  padding-top: 0px;
}

#styledtable {
  border-collapse: collapse;
  width: 100%;
  height: 100vh;
}

#styledtable td {
  border: none;              
  width: 33%;
  height: 33vh;
  text-align: center;
  vertical-align: middle;
}

#styledtable tr:nth-child(even) {
  background-color: transparent;
}


.floatl {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  float: left;
}


.title {
  font-size: 52px;
  text-shadow: 0 0 15px #420400;
  animation: flicker 4s infinite;
}


@keyframes flicker {
  0% { opacity: 1; }
  5% { opacity: 0.6; }
  10% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

.confess {
  font-size: 30px;
  color: #420400;
  text-decoration: underline;
  transition: 0.5s;
}

.confess:hover {
  letter-spacing: 4px;
  color: black;
}



.gif {
  width: 380px;
  filter: brightness(80%) contrast(110%);
}

.temple {
  width: 420px;
  filter: brightness(60%);
  transition: transform 1s ease, filter 1s ease;
}

.temple:hover {
  transform: scale(1.1);   /* zooms in 10% */
  filter: brightness(80%);
}




.typebox {
  width: 420px;
  height: 220px;
  font-family: Courier, monospace;
  font-size: 22px;
  background-color: black;
  color: #c71e00;
  border: 2px solid #420400;
  box-shadow: 0 0 15px #420400;
}



.dirt {
  position: fixed;
  bottom: -120%;
  left: 0;
  width: 120%;
  height: 120%;
  background-image: url("../images/dirt.png");
  background-size: cover;
  background-position: center;
  animation: bury 30s ease-in forwards;
  z-index: 10;
}
@keyframes bury {
  0% {
    bottom: -120%;
    transform: scale(1);
  }

  50% {
    bottom: -40%;
    transform: scale(1.05);
  }

  100% {
    bottom: 0%;
    transform: scale(1.1);
  }
}

@keyframes darken {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% { opacity: 0.6; }
}


.fade-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  animation: fadeOut 20s forwards;
  pointer-events: none;
  z-index: 20;
}

@keyframes fadeOut {
  from { opacity: 0; }
  to { opacity: 1; }
}

.finaltext {
  font-size: 28px;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #420400;
}

.finalgif {
  width: 500px;
}
